/* 
 * Copyright (C) 2015 Maxim Ivanov (dark_orion)
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

/**
 * @author Maksim Ivanov (dark_orion) <minotaurmax@hotmail.com>
 */

.backend-brand {
    font-size: 180%;
    font-family: cursive; 
}

section.content {
    min-height: 650px;
    margin: 1%;
    border: 2px solid black; /* Параметры границы */
    background: #E8E8E8; /* Цвет фона */
    padding: 40px; 
}

footer {
    min-height: 40px;
    margin-top: 5%;
    background: #F5F5F5;
}

footer p {
    margin-top: 20px;
    color: #ADD8E6;
}

h1 {
    font: bold 32px sans-serif;
    text-align: center;
    color: #6CA6CD;
    margin: 0 0 3%;
}

h2 {
    font: normal 24px sans-serif;
    color: #008B45;
}

p {
    font: normal 16px sans-serif;
    color: black;
    margin: 0 0 2%;
}

.form-row {
    border: 2px solid #6CA6CD;
    margin-top: 2%;
}

form label {
    font: normal 14px sans-serif;
}

label.result {
    font: italic 16px sans-serif;
    color: #FF7F50;
}

